{% extends 'movie/base.html' %}

{% block content %}
    <h1>New comment</h1>
    <div>ログイン中のユーザー:<a href="{% url 'movie:user' username=request.user %}">{{ request.user }}</a></div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}