<!DOCTYPE html>
<html>
  <head>
    <title>upload prac</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="page-header">
      <h1><a href="{% url 'movie:index' %}"}>Image upload site!</a></h1>
        {% if user.is_authenticated %}
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'movie:logout' %}">Log out</a>)</small></p>
            <p class="top-menu"><a href="{% url 'movie:edit_profile' %}">Edit Profile</a></p>
            <h1><a href="{% url 'movie:upload' %}">Upload</a></h1>
        {% else %}
            <a href="{% url 'movie:login' %}" class="top-menu">Login<span class="glyphicon glyphicon-lock"></span></a>
            <a href="{% url 'movie:signup' %}" class="top-menu">Sign Up<span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
    </div>
    
    <div>
        {% block content %}
        {% endblock %}
    </div>

    
  </body>
</html>