{% extends 'movie/base.html' %}

{% block content %}
    <h1>Upload Images</h1>

    <img src='{{ MEDIA_URL }}{{ document.document }}' width=200>
    <h2>{{ document.description }}</h2>
    <h3>アップローダー：<a href="{% url 'movie:user' username=document.user %}">{{ document.user }}</h3></a>

    <form action="{% url 'movie:like_document' pk=document.pk %}" method="post">
        <button type="submit" name="button">お気に入り追加</button>
        {% csrf_token %}
    </form>
    <div>favorite:{% for f in follower %}
        <a href="{% url 'movie:user' username=f %}">{{ f }}</a>
    </div>
    {% endfor %}

    <hr>
    <a class="btn btn-default" href="{% url 'movie:add_comment' pk=document.pk %}">Add comment</a>
    {% for comment in document.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment  %}
                        <a class="btn btn-default" href="{% url 'movie:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'movie:comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    {% if delete %}
        <div>投稿を削除できます</div>
        <div>
            <a class="btn btn-danger" href="{% url 'movie:remove' document.pk %}">削除</a>
        </div>
    {% endif %}
{% endblock %}