{% extends 'movie/base.html' %}

{% block content %}
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text">
        <button type="submit">検索する</button>
    </form>
    {% if latest_file_list %}
        <ul>
        
        {% for file in latest_file_list %}
            <li>投稿日：{{ file.uploaded_at }}</li>
            <div><a href="{% url 'movie:detail' file.id %}">
                {{ file.description }}</a>:{{ file.user }}</div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No files are availabel.</p>
    {% endif %}

{% endblock %}