{% extends 'movie/base.html' %}

{% block content %}
  <h2>Default SignUp</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div>
    <button type="submit">ユーザー登録</button>
    </div>
    <a href="{% url 'movie:index' %}">戻る</a>
  </form>
{% endblock %}