{% extends 'movie/base.html' %}

{% block content %}

    {% if latest_file_list %}
        <ul>
            ユーザー：{{ username }}
        </ul>
        <p>Uploaded files</p>
        <ul>
        {% for file in latest_file_list %}
            <li><a href="{% url 'movie:detail' file.id %}">
                {{ file.description }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No files are availabel.</p>
    {% endif %}

    {% if like_documents %}
        <p>{{ username }}はこの投稿を気に入りました</p>
        <ul>
            {% for like_document in like_documents %}
            <li><a href="{% url 'movie:detail' like_document.id %}">
                {{ like_document.description }}
            </a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No favorite files</p>
        {% endif %}

{% endblock %}